html {
    color: rgb(77, 24, 24);
}

header {
    background-color: gray;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: brown;
    margin-bottom: 0;
}

ul li {
    padding: 2%;
    padding-left: 0;
}

main {
    display: flex;
    height: 60%;
}

div.container {
    display: inline-block;
    flex-direction: column;
    width: 80%;
}

div.container2 {
    width: 20%;
    background-color: burlywood;
}

h1.title {
    display: block;
}

span.content {
    display: block;
}

footer {
    background-color: brown;
}